@import '../../style.css';
footer {
  color: rgb(240, 240, 240);
  padding-top: 4%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-around;
  background-color: #2a3b47;
}
.tags {
  color: rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
}
.tags a {
  color: rgb(160, 160, 160);
  background-color: #2a3b47;
}
.tags a:hover {
  color: rgb(231, 231, 231);
  background-color: #2a3b47;
}
footer p {
  color: rgb(160, 160, 160);
}
footer h4 {
  padding-bottom: 10%;
}
.follow {
  display: flex;
  flex-direction: column;
}
.follow a {
  text-decoration: none;
  color: rgb(160, 160, 160);
}
.follow a:hover {
  color: rgb(219, 217, 217);
}

@media (max-width: 681px) {
  footer {
    font-size: 15px;
  }
}
